.container{
    display: flex;
    padding: 10px;
    max-width: 900px;
    margin: 0 auto;
}
.photo{
    overflow: clip;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: auto;

}
.product{
          display: flex;
      align-items: flex-start;
      border-bottom: 1px solid #ddd;
      padding: 15px 0;
}
.product img{
    width: 120px;
    overflow: clip;
}
    .info {
      flex-grow: 1;
    }

    .title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 5px;
    }

    .description {
      font-size: 14px;
      color: #444;
      margin-bottom: 10px;
    }
        .actions {
      text-align: right;
    }

    .price {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .btn {
      display: inline-block;
      padding: 8px 12px;
      border: none;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      font-size: 14px;
      margin-left: 5px;
    }
    .btn-green{
        color: green;
    }
    .btn-orange{
        color: orange;
    }


